@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f7f4;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* animations */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* hover cards */
.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}